<div id="SC-UpsellProducts-{{ content_block.identifier }}" class="SC-UpsellProducts">
  {%- if content_block.title != blank %}
    <div class="SC-UpsellProducts_header sc-pe-base">
      <h3 class="sc-font-xlarge sc-font-normal sc-font-secondary">{{ content_block.title }}</h3>
    </div>
  {%- endif %}
  {%- if content_block.products.size > 0 %}
  <div class="SC-UpsellProducts_body sc-bg-white sc-border sc-border-radius">
    {%- for product in content_block.products %}
      <div class="SC-UpsellProducts_item sc-flex sc-p-base sc-gap sc-flex-wrap">
        <div>
          <a href="{{ product.path }}" class="sc-flex sc-gap-medium">
            <img src="{{ product.image.thumbnail_url }}" data-src="{{ product.image.small_url }}" alt="{{ product.image.alt_text }}" class="sc-lazy-load" style="border-radius: var(--sc-border-radius);">
            <h4 class="sc-font-base sc-font-normal">{{ product.name }}</h4>
          </a>
        </div>
        <section class="sc-flex sc-flex-wrap sc-gap sc-grow">
          <div class="sc-flex-col sc-gap sc-ml-auto sc-text-right">
            {%- render "products/card/product_price", product: product %}
            {%- render "products/card/add_button", product: product %}
          </div>
        </section>
      </div>
    {%- endfor %}
  </div>
  {%- endif %}
</div>